[Desktop Entry]
Name=CPU Temperature
Type=Application
Exec=cosmic-ext-applet-cpu-temperature
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
Icon=thermometer-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=End
X-OverflowPriority=10